$font-size: 1.25rem;
$primary-color: #0061f2;
$primary-color-hover: #004ec2;
$primary-color-focus: #71a4f0;
$secondary-color: #363d47;
$tertiary-color: #69707a;
$tertiary-color-hover: #000000b3;