nav {
  padding: 1.5rem 0;
}
nav .row {
  justify-content: space-between;
}

.logo {
  cursor: pointer;
}
.logo h2 {
  color: #0061f2;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 2rem;
}

ul.menu li {
  display: inline-block;
  margin: 0 0.625rem;
}
ul.menu li a {
  display: flex;
  align-items: center;
  color: #69707a;
  transition: 0.2s;
}
ul.menu li a:hover {
  color: rgba(0, 0, 0, 0.7019607843);
}
ul.menu li a i {
  margin-left: 0.25rem;
  transition: 0.25s;
}
ul.menu li a:hover i {
  transform: rotate(90deg);
}

.nav-btn {
  border: 0;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  background-color: #0061f2;
  cursor: pointer;
  transition: 0.2s;
}
.nav-btn i {
  margin-left: 0.25rem;
}
.nav-btn:hover {
  background-color: #004ec2;
}
.nav-btn:focus {
  box-shadow: 0 0 0px 4px #71a4f0;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 10%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

a {
  list-style: none;
  text-decoration: none;
}